<a href="https://colab.research.google.com/github/Mainabryan/100-days-challenge-for-machine-learning-practise/blob/main/Another_copy_of_1_Python_Data_Cleaning_Basics_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **REMEMBER TO MAKE A COPY OF THE NOTEBOOK BEFORE YOU START WORKING ON IT.**

# Python Data Cleaning: Basics

## Step 1: Finding and counting missing data

Having known how missing values in a dataset are created, we will now get introduced to how we can work with such a dataset. The first step that we will perform is to find the missing values and know how many they are.

In [ ]:
#Example 1
# We will first import our dataset that we will use for the examples. We will do this by first
# Importing our pandas library
import pandas as pd


# then storing the url location of our dataset to the variable url
url = 'http://bit.ly/TitanicDataset1'

# We will read the dataset from above url and store the dataframe in the variable df
df = pd.read_csv(url)
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
df.tail()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Challenge 1
# In parallel to this, we will also be working with another dataset too. We will use it for practice.

import pandas as pd

# Let's first store our url location just like we did above
gov_dataset = 'http://bit.ly/GovProjectFinanceDataset1'

# Then read the dataset from url and store it in our variable of choice
#
df= pd.read_csv(gov_dataset)
# And familiarize ourselves with the dataframe by viewing its first 5 rows
#
df.head()

,Implementing_Agency,Total_-_GOK_Budget_Est_KES,Total_-_Loan_Budget_Est_KES,Total_-_Grant_Budget_Est_KES,Total_Budget_Supported__by_Donors_KES,Total_2013/2014_Budget_KES,OBJECTID
0,NaN,0.000000e+00,0,3524395000,3524395000,3524395000,0
1,MOEW&NR National Environment Management Auth...,0.000000e+00,0,300000000,300000000,300000000,1
2,"Ministry of Agriculture, Livestock and Fisheries",2.306364e+09,23354779585,8732081258,32086860843,34393225231,2
3,The Presidency,NaN,0,0,0,0,3
4,MOAL&F Kenya Plant Health Inspectorate Serv...,0.000000e+00,0,66916163,66916163,66916163,4

In [ ]:
#Example 2
# We count the number of non - missing values in the df dataframe.

df.count()

Implementing_Agency                      39
Total_-_GOK_Budget_Est_KES               39
Total_-_Loan_Budget_Est_KES              40
Total_-_Grant_Budget_Est_KES             40
Total_Budget_Supported__by_Donors_KES    40
Total_2013/2014_Budget_KES               40
OBJECTID                                 40
dtype: int64

Counting non-missing values in a DataFrame is important to:

1. **Assess Data Completeness**: Identifies how much usable data exists for analysis.
2. **Detect Missing Data**: Highlights columns with significant gaps that may bias results.
3. **Ensure Reliability**: Ensures sufficient data for accurate statistical or model outcomes.
4. **Guide Preprocessing**: Informs decisions on handling missing values (e.g., imputation, removal).

In [ ]:
# Challenge 2: Government Project Dataset
# We also count the number of non - missing values in the our government project dataset
df.count()

Implementing_Agency                      39
Total_-_GOK_Budget_Est_KES               39
Total_-_Loan_Budget_Est_KES              40
Total_-_Grant_Budget_Est_KES             40
Total_Budget_Supported__by_Donors_KES    40
Total_2013/2014_Budget_KES               40
OBJECTID                                 40
dtype: int64

In [ ]:
# Exampe 3
'''
A longer method can be to subtract the no. of non-missing rows from the total number
of rows in the dataframe in order to determine the no. of missing values as shown
'''
missing_values = len(df) - df.count()
missing_values

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

The method of subtracting the number of non-missing rows (`df.count()`) from the total number of rows (`len(df)`) to determine missing values is used to:

1. **Quantify Missing Data**: Calculate the exact number of missing values per column.
2. **Assess Data Quality**: Gauge the extent of incompleteness in the dataset.
3. **Plan Preprocessing**: Decide whether to impute, drop, or flag missing values based on their volume.

**When to Use**:
- When you need a quick overview of missing data per column.
- Useful for small datasets or initial data exploration.
- Less efficient for large datasets compared to direct methods like `df.isnull().sum()`.


```

In [ ]:
# Challenge 3: Government Project Dataset
# We now also subtract the no. of non-missing rows from the total number of rows
# to determine the no. of missing values in our government project dataset
#
# OUR CODE GOES HERE
missing_values = len(df) - df.count()
missing_values

Implementing_Agency                      1
Total_-_GOK_Budget_Est_KES               1
Total_-_Loan_Budget_Est_KES              0
Total_-_Grant_Budget_Est_KES             0
Total_Budget_Supported__by_Donors_KES    0
Total_2013/2014_Budget_KES               0
OBJECTID                                 0
dtype: int64

In [ ]:
# Example 4
'''
# Another method would also be to count the number of missing values in our dataframe,
using the count_nonzero function from numpy - and including the isnull() method.
'''
# But before we do that, we would need import numpy,
import numpy as np


# Then count those missing values in our dataframe
np.count_nonzero(df.isnull())

3869

Counting missing values using `numpy.count_nonzero()` with `df.isnull()` is important to:

1. **Quantify Data Gaps**: Directly measures the extent of missing data in the DataFrame.
2. **Evaluate Data Integrity**: Identifies columns or rows with significant missingness that may affect analysis.
3. **Inform Preprocessing**: Guides decisions on handling missing values (e.g., imputation, deletion).
4. **Optimize Analysis**: Ensures models or statistics are based on reliable, complete data.

**When to Use**:
- When you need a precise count of missing values across the entire DataFrame or specific columns.
- Efficient for large datasets, leveraging NumPy's optimized computation.
- Useful in exploratory data analysis to prioritize data cleaning steps.

In [ ]:
# Challenge 4: Government Project Dataset
# Let's just do what we did in our previous cell. We found out the number of missing values
# in our dataset using the count_nonzero function from numpy
#
import numpy as np
np.count_nonzero(df.isnull())
print

In [ ]:
# Example 5
'''
We could also count the number of missing values for a particular column by specifying
the column by still using the count_nonzero function from numpy
'''

np.count_nonzero(df['age'].isnull())

264

Counting missing values in a specific column using `numpy.count_nonzero()` with `df[column].isnull()` is important to:

1. **Targeted Data Assessment**: Identifies missingness in a critical column that may impact analysis.
2. **Ensure Column Reliability**: Verifies if the column has enough valid data for modeling or calculations.
3. **Guide Column-Specific Preprocessing**: Informs decisions like imputing or excluding the column based on missing data volume.
4. **Prevent Bias**: Avoids skewed results from incomplete data in key variables.

**When to Use**:
- When focusing on a single column’s data quality (e.g., a key feature in a model).
- Efficient for large datasets, using NumPy’s fast computation.
- Useful during feature selection or cleaning specific columns.

In [ ]:
# Challenge 5: Government Project Dataset
# And again specify how many non-missing values we have in the column: Total_-_GOK_Budget_Est_KES
#
#
np.count_nonzero(df['Total_-_GOK_Budget_Est_KES'].isnull())

1

## Step 2: Clean Missing Data

Now that we have been able to identify our missing values in our datasets, we can deal with them in the following ways.

### a) We can recode/replace these values
Here, we can do this by using the fillna method and recoding/replacing the missing values with another value or other values. In this example, we will recode the missing values to 0.

In [ ]:
# Example 6
'''
We can recode missing values with 0 by doing the following.
# Do note that this will appear as 0.0 in your dataframe.
'''
df_recode = df.fillna(0)

# then preview the first 5 rows for the recoded dataframe
df_recode.head()

,Implementing_Agency,Total_-_GOK_Budget_Est_KES,Total_-_Loan_Budget_Est_KES,Total_-_Grant_Budget_Est_KES,Total_Budget_Supported__by_Donors_KES,Total_2013/2014_Budget_KES,OBJECTID
0,0,0.000000e+00,0,3524395000,3524395000,3524395000,0
1,MOEW&NR National Environment Management Auth...,0.000000e+00,0,300000000,300000000,300000000,1
2,"Ministry of Agriculture, Livestock and Fisheries",2.306364e+09,23354779585,8732081258,32086860843,34393225231,2
3,The Presidency,0.000000e+00,0,0,0,0,3
4,MOAL&F Kenya Plant Health Inspectorate Serv...,0.000000e+00,0,66916163,66916163,66916163,4

In [ ]:
# # then preview the last 5 rows for the recoded dataframe
df_recode.tail()

,Implementing_Agency,Total_-_GOK_Budget_Est_KES,Total_-_Loan_Budget_Est_KES,Total_-_Grant_Budget_Est_KES,Total_Budget_Supported__by_Donors_KES,Total_2013/2014_Budget_KES,OBJECTID
35,MOE&P Kenya Electricity Generating Company L...,2.000000e+09,0,0,0,2000000000,35
36,State Department for Education,4.193250e+06,0,0,0,4193250,36
37,Ministry of Energy & Petroleum,6.191316e+08,129100000000,6521099528,135621000000,136240000000,37
38,MOES&T Karatina University College,8.000000e+07,0,0,0,80000000,38
39,MOR Kenya Rural Roads Authority (KERA),1.315244e+09,0,0,0,1315243883,39

Recoding missing values with 0 in a DataFrame (e.g., using `df.fillna(0)`) has the following **advantages**, **disadvantages**, and **use cases**:

**Advantages**:
1. **Simplifies Analysis**: Replaces missing values with a constant (0), allowing calculations or models to proceed without errors.
2. **Preserves Data Structure**: Maintains all rows and columns, avoiding data loss from dropping missing values.
3. **Fast Implementation**: Quick and easy with `df.fillna(0)`.

**Disadvantages**:
1. **Introduces Bias**: Assigning 0 can misrepresent true values, skewing statistics (e.g., mean, variance) or model predictions.
2. **Loss of Information**: Masks the presence of missing data, potentially hiding data quality issues.
3. **Inappropriate for Some Data**: Zero may not be meaningful (e.g., for categorical or non-numeric data, or when 0 implies a valid value).

**When to Use**:
Recoding missing values with 0 using `df.fillna(0)` is appropriate in these real-world scenarios:

1. **Financial Data**:
   - **Scenario**: Tracking customer transactions where missing values indicate no purchases.
   - **Why Use**: Replace `NaN` with 0 to reflect zero spending in a sales dataset.
   - **Example**: A retail dataset with missing sales amounts for non-buying customers.

2. **Inventory Management**:
   - **Scenario**: Recording stock levels where missing entries mean no items in stock.
   - **Why Use**: Set missing values to 0 to indicate zero inventory for accurate stock calculations.
   - **Example**: A warehouse dataset with missing quantities for out-of-stock products.

3. **Sensor Data**:
   - **Scenario**: IoT devices recording measurements (e.g., temperature, speed) where missing values mean no activity.
   - **Why Use**: Replace `NaN` with 0 to represent no signal or activity (e.g., a stopped machine).
   - **Example**: A factory sensor log with missing readings during downtime.

4. **Event Counts**:
   - **Scenario**: Counting occurrences (e.g., website clicks, error logs) where missing data means no events occurred.
   - **Why Use**: Use 0 to indicate no events, ensuring accurate aggregation.
   - **Example**: A web analytics dataset with missing click counts for inactive users.

**Note**: Only use this method when 0 is semantically correct and won’t distort analysis. Avoid in cases like missing survey responses or measurements (e.g., height, temperature) where 0 is misleading.
```

In [ ]:
# After recoding, let's check for non-missing values in the recoded dataframe
df.count()

Implementing_Agency                      39
Total_-_GOK_Budget_Est_KES               39
Total_-_Loan_Budget_Est_KES              40
Total_-_Grant_Budget_Est_KES             40
Total_Budget_Supported__by_Donors_KES    40
Total_2013/2014_Budget_KES               40
OBJECTID                                 40
dtype: int64

Checking for non-missing values after filling missing values with 0 is important to:

1. **Verify Completion**: Confirm all `NaN` values were successfully replaced with 0.
2. **Ensure Data Integrity**: Detect any unexpected `NaN` values that may persist due to errors in recoding.

In [ ]:
# Challenge 6: Government Project Dataset
# Nice! Let's now replace the missing values in our dataset with 0 again
# just as in our previous example
#
df_recode = df.fillna(0)
df_recode.head()
df_recode.tail()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1305,3.0,0.0,"Zabour, Miss. Thamine",female,0.0,1.0,0.0,2665,14.4542,0,C,0,0.0,0
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5,0.0,0.0,2656,7.2250,0,C,0,304.0,0
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,0,C,0,0.0,0
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0,0.0,0.0,315082,7.8750,0,S,0,0.0,0
1309,0.0,0.0,0,0,0.0,0.0,0.0,0,0.0000,0,0,0,0.0,0

**Challenge 6:** Together with your peer now discuss the cases where you might use the above recoding technique.

### b) We can fill forward missing values

When data is filled data forward, the last known value is used for the next missing value. The missing values are replaced with the last known/recorded value. Let's see how that works.

In [ ]:
# Example 7

# First lets preview out df ,and note the missing data in the boat and body columns
df.head(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"

In [ ]:
# And now let's fill forward
#
df_fill_forward = df.fillna(method='ffill')

# Then preview our dataframe and try to understand it
df_fill_forward.head(10)

# Did you notice what happens when the column begins with a missing value?
# Discuss this with your peer

<ipython-input-42-e751b4094620>:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fill_forward = df.fillna(method='ffill')

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,11,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,11,135.0,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,135.0,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,135.0,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,10,135.0,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,135.0,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,C101,C,D,22.0,"Montevideo, Uruguay"

**Filling Forward (Forward Fill)**:
Filling forward (`df.fillna(method='ffill')` or `df.ffill()`) propagates the last valid (non-missing) value forward to fill missing values in a DataFrame until another valid value is encountered.

**Advantages**:
1. **Preserves Trends**: Maintains continuity in sequential data (e.g., time series) by using the most recent valid value.
2. **Contextually Relevant**: Fills missing values with data likely to be similar, based on prior observations.
3. **No Data Loss**: Retains all rows/columns, unlike dropping missing values.

**Disadvantages**:
1. **Assumes Continuity**: Inaccurate if data changes rapidly or missing values span large gaps.
2. **Propagates Errors**: If the last valid value is incorrect, it carries forward the error.
3. **Not Universal**: Unsuitable for non-sequential or categorical data where prior values aren’t relevant.

**When to Use**:
- **Suitable**: For ordered, sequential data (e.g., time series) where values are expected to remain stable or change gradually.
- **Avoid**: In datasets with no temporal/sequential relationship or where missingness indicates a distinct state (e.g., survey non-responses).

**Real-World Scenario**:
- **Scenario**: A stock market dataset records daily closing prices, but some days have missing values due to system glitches.
- **Why Use Forward Fill**: Use the last recorded price to fill missing days, assuming the price remains relatively stable until the next valid trading day.

- **Context**: This is reasonable for short gaps in financial time series, as stock prices often change gradually day-to-day.

In [ ]:
# Challenge 7: Government Project Dataset
# Onto our other dataset, let's now fill forward the missing values and see what happens
#
df_fill_forward = df.fillna(method='ffill')
df_fill_forward.head()
missing_values = len(df) - df.count()
missing_values

<ipython-input-43-73d11d7eb070>:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fill_forward = df.fillna(method='ffill')

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

**Challenge 7: **Together with your peer discuss the cases where you might use the above fill forward technique.

### c) We can fill backward missing values

We can also do the opposite, and fill data backward our missing values. When doing this, the newest value replaces the missing data.

In [ ]:
# Example 8
# Again first lets preview df (last 10 items), and note the missing data in the boat and body columns
#
df.tail()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# And now fill backward
#
df_backward_fill = df.fillna(method='bfill')

# Then preview our dataframe (last 10 items) and try to understand what took place
#
df_backward_fill.tail()

# After this, we will discuss what happens when a column ends with a missing value.

<ipython-input-21-ba13cbde2862>:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_backward_fill = df.fillna(method='bfill')

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1305,3.0,0.0,"Zabour, Miss. Thamine",female,26.5,1.0,0.0,2665,14.4542,NaN,C,NaN,304.0,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Backward Filling (Backward Fill)**:
Backward filling (`df.fillna(method='bfill')` or `df.bfill()`) propagates the next valid (non-missing) value backward to fill missing values in a DataFrame until another valid value is encountered.

**Advantages**:
1. **Maintains Continuity**: Preserves trends in sequential data (e.g., time series) by using the next valid value.
2. **Contextually Relevant**: Fills missing values with data likely to be similar, based on subsequent observations.
3. **No Data Loss**: Retains all rows/columns, unlike dropping missing values.

**Disadvantages**:
1. **Assumes Continuity**: Inaccurate if data changes rapidly or missing values span large gaps.
2. **Propagates Errors**: If the next valid value is incorrect, it carries backward the error.
3. **Not Universal**: Unsuitable for non-sequential or categorical data where subsequent values aren’t relevant.

**When to Use**:
- **Suitable**: For ordered, sequential data (e.g., time series) where values are expected to remain stable or change gradually, and future values are a reasonable proxy.
- **Avoid**: In datasets with no temporal/sequential relationship or where missingness indicates a distinct state (e.g., survey non-responses).

**Real-World Scenario**:
- **Scenario**: A weather monitoring system records hourly temperature, but some hours have missing data due to sensor failures.
- **Why Use Backward Fill**: Use the next recorded temperature to fill missing hours, assuming the temperature remains relatively stable until the next valid reading.

- **Context**: This is reasonable for short gaps in weather data, as temperatures typically change gradually over hours.

In [ ]:
# Challenge 9: Government Project Dataset
# Back to our government dataset. We now fill backward the missing values
# and try to understand the changes that took place
#
df_fill_forward = df.fillna(method='bfill')
df_fill__backward_fill =df.fillna(method='bfill')
df_fill__backward_fill.tail()
missing_values = len(df) - df.count()
missing_values

<ipython-input-44-351824f1978b>:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fill_forward = df.fillna(method='bfill')
<ipython-input-44-351824f1978b>:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fill__backward_fill =df.fillna(method='bfill')

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

**Challenge 9: ** Together with your peer discuss the cases where you might use the above fill backward technique.

### d) We can drop/delete missing values

The other way to work with missing data is to drop/delete the records with the missing data. This is a judgement that you have to make based on your research. Sometimes keeping the entire dataset together with the missing values, can leave you with a useless dataset. On the other hand, the missing data many not be random and dropping those missing values would leave you with a biased dataset or deleting the missing dataset might leave you with insufficient data for analysis. All of this we will learn more indepth during the course of the program.

For now lets see how we can drop missing values from a dataset.

In [ ]:
# Example 10
# Let's find out the size of our dataset
df.shape

(1310, 14)

In [ ]:
# If we were to keep our complete rows; meaning we drop any record with a missing value, then
df_dropped = df.dropna()

# We would have
df_dropped.shape

# We are left with no rows of data

(0, 14)

In [ ]:
# Printing out df_dropped
print(df_dropped)

Empty DataFrame
Columns: [pclass, survived, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, boat, body, home.dest]
Index: []

In [ ]:
# Challenge 10: Financial Allocation Dataset
# Let's now drop the records that have missing values
# url = http://bit.ly/MSFinancialDataset
#
OUR CODE GOES HERE

Challenge 10: Together with your peer discuss the cases where you might use the above drop/delete technique.